<h1>
    Admin Report
</h1>
<center>
    <h3>
        Total Commission
    </h3>
    <h4>
        @ViewBag.TotalCommission
    </h4>
    <h3>
        Average Commission
    </h3>
    <h4>
        @ViewBag.AverageCommission
    </h4>
    <br />
    <h3>
        Total Properties
    </h3>
    <h4>
        @ViewBag.TotalProperties
    </h4>
    <h3>
        Total Completed Reservations:
    </h3>
    <h4>
        @ViewBag.ReservationCount
    </h4>
</center>
