<center>
    <h1>
        BevoBNB
    </h1>
    <br />
    <a asp-action="Index" asp-controller="Properties" class="btn btn-info">View Properties</a>
    @if (User.Identity.IsAuthenticated)
    {
        @if (User.IsInRole("Admin"))
        {
            <a asp-action="PendingProperties" asp-controller="Properties" class="btn btn-info">View Pending Properties</a>
            <a asp-action="DisputedReviews" asp-controller="Reviews" class="btn btn-info">View Disputed Reviews</a>
            <a asp-action="AdminControl" asp-controller="Account" class="btn btn-info">Admin Actions</a>
            <a asp-action="ReportSearch" asp-controller="Properties" class="btn btn-info">Report</a>
        }
        @if (User.IsInRole("Admin") | User.IsInRole("Customer"))
        {
            <a asp-action="Index" asp-controller="Reservations" class="btn btn-info">Reservations</a>
        }
        @if (User.IsInRole("Host"))
        {
            <a asp-action="ReportSearch" asp-controller="Properties" class="btn btn-info">Report</a>
        }
        @if (User.IsInRole("Customer"))
        {
            <a asp-action="Index" asp-controller="Orders" class="btn btn-info">My Orders</a>
        }
    }
</center>